/node_modules
/public
/src/scss
/test
/tsconfig.json
/tsconfig.webpack.json
/webpack.common.js
/webpack.dev.js
/webpack.prod.js
/*.config.js
/*.js.map
/.gitattributes
/.gitignore
/.npmignore
/.vscode
debug.log